.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# (no credential stored in .env file - reveal for my own reference)
# (Commented out in the future if I have to store credentials in .env file)
# .env

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

node_modules/

.cache/
